[Unit]
Description="Example service to test systemd capabilities"

[Service]
Type=simple
StandardOutput=journal
WorkingDirectory=/path/to/this/project/example
ExecStart=python example.py
Restart=always

[Install]
WantedBy=default.target
