[Unit]
Description="Example service to test systemd capabilities"

[Service]
Type=simple
StandardOutput=journal
WorkingDirectory=/home/marcos/high/dev/utils/udaemon/example
ExecStart=python example.py
Restart=always

[Install]
WantedBy=default.target
